@use "../../../styles/abstracts/variables" as vars;
@use "../../../styles/abstracts/mixins" as mixins;

.users-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
